@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --verde: #42e012;
    --cinza-claro: #d5dde0;
    --cinza: #a4a7a8;
    --cinza-escuro: #414647;
    --lado1: linear-gradient(260deg, rgb(240, 242, 243) 0%, rgb(77, 80, 82) 100%);
    --lado2: linear-gradient(100deg, rgb(240, 242, 243) 0%, rgb(77, 80, 82) 100%);

    --font: "WDXL Lubrifont SC", sans-serif;
    --font-footer: "Zalando Sans SemiExpanded", sans-serif;

}

body {
    /* background: linear-gradient(90deg,rgba(158, 158, 158, 1) 0%, rgba(237, 237, 237, 1) 19%, rgba(237, 237, 237, 1) 82%, rgba(158, 158, 158, 1) 100%); */
    background-image: url(../img/parede.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: var(--font);
    
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    /* height: 83.2vh; */
    /* border-bottom: 5px solid var(--cinza-escuro); */
    /* box-shadow: 2px 2px 20px rgba(2, 2, 2, 2); */
}

.borda-elevador {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--lado1);
    margin: 45px 0 0 0;
    border-radius: 2px;
    height: 750px;
    width: 570px;
    box-shadow: 2px 2px 20px rgba(2, 2, 2, 2);
}

.container-interno {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.visor-elevador {
    background: #000;
    font-size: 25px;
    text-align: center;
    border: 2px solid var(--cinza-claro);
    margin-top: 30px;
    width: 400px;
    border-radius: 5px;
    color: var(--verde);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);

}

.container-elevador {
    display: flex;
    margin-top: 25px;
    box-shadow: 2px 2px 20px rgba(2, 2, 2, 2);
    border-radius: 5px;
}

.lado1,
.lado2 {
    width: 204px;
    height: 650px;
    border: 2px solid var(--cinza);
    
    border-radius: 5px;
}

.lado1 {
    background: var(--lado1);

}

.lado2 {
    background: var(--lado2);

}

.painel-elevador {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80px;
    padding: 20px 5px;
    border-radius: 5px;
    height: 310px;
    background: var(--lado2);
    margin-left: 20px;

}

.btn {
    font-size: 16px;
    font-weight: 700;
    border-radius: 25px;
    padding: 5px;
    min-width: 35px;
    background: var(--lado1);
    font-family: var(--font);
    cursor: pointer;
}

.btn:hover {
    border: 2px solid var(--verde);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-footer);
    color: var(--cinza-escuro);
}

.icon {
    width: 24px;
    margin-left: 10px;
    border-radius: 25px;
}

.icon:hover{
    font-size: 14px;
    background: var(--verde);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}