<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Locker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>Sistema Locker</h1>
        <h3>Bem-vindo(a) usuário</h3>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="messages-container">
            {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <form action="{{ url_for('login') }}" method="post">
            <label for="login">Login</label>
            <input type="text" id="login" name="login" required>

            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" required>

            <button type="submit" name="enviar" class="btn">Entrar</button>

            <p>Não tem uma conta? <a href="{{ url_for('registro') }}"><span>Cadastre-se</span></a></p>
        </form>
    </main>
    <footer>
        <p>© 2025 Vitória Fortes</p>
    </footer>
</body>

</html>