<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Locker</title>
    <link rel="stylesheet" href="../Static/style.css">
</head>

<body>
    <header>
        <h1>Sistema Locker</h1>
        <h3>Olá, Usuário</h3>
        <p><a href="">Logout</a></p>
    </header>
    <main>
        <div><button type="submit" name="enviar" class="btn">Liberar</button></div>
        <form>
            <label for="">Reservar um Locker</label>
            <input type="text" id="id-reserva" name="id-reserva" placeholder="ID do Locker">

            <button type="submit" name="enviar" class="btn">Reservar Locker</button>
        </form>

    </main>
    <footer>
        <p>© 2025 Vitória Fortes</p>
    </footer>
</body>

</html>